# Файлы окружения
.env
venv/
env/

# Файлы базы данных
*.db
*.sqlite3
*.sqlite

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# IDE файлы
.idea/
.vscode/
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Файлы бота (не загружаем в репо)
/bot_session/
/session/